In [8]:
import pandas as pd 
import os
import requests
import csv

In [9]:
# API URL
api_url = "https://fdw.fews.net/api/classifiedproduct/"

# Make a GET request to the API
response = requests.get(api_url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Parse the JSON data from the response
    data = response.json()

    # Specify the folder path
    folder_path = "data"
    # Create the "data" folder if it doesn't exist
    if not os.path.exists(folder_path):
        os.makedirs(folder_path)

    # Specify the CSV file path inside the "data" folder
    csv_file_path = os.path.join(folder_path, "api_data.csv")

    # Open the CSV file in write mode
    with open(csv_file_path, 'w', newline='') as csvfile:
        # Create a CSV writer object
        csv_writer = csv.writer(csvfile)

        # Write the header row based on the keys of the first item in the data
        csv_writer.writerow(data[0].keys())

        # Write each row of data to the CSV file
        for row in data:
            csv_writer.writerow(row.values())

    print(f"Data has been successfully saved to {csv_file_path}")
else:
    print(f"Failed to fetch data. Status code: {response.status_code}")

Data has been successfully saved to data/api_data.csv

In [10]:
df = pd.read_csv('./data/api_data.csv')
df.head()

,cpcv2,description,common_name,display_name,es_name,fr_name,pt_name,ar_name,aliases,hs2012,scientific_name,per_country_aliases
0,R0,"Agriculture, forestry and fishery products",NaN,"Agriculture, forestry and fishery products",NaN,NaN,NaN,NaN,[],NaN,NaN,[]
1,R01,"Products of agriculture, horticulture and mark...","Agriculture products, horticulture, market gar...","Agriculture products, horticulture, market gar...","Productos agrícolas, horticultura","Produits agricoles, horticulture, maraîchage","Produtos agrícolas, horticultura, horta comercial",NaN,[],NaN,NaN,[]
2,R011,Cereals,NaN,Cereals,NaN,NaN,NaN,NaN,[],NaN,NaN,[]
3,R0111,Wheat,NaN,Wheat,NaN,NaN,NaN,NaN,[],NaN,NaN,[]
4,R01111,Wheat planting seed,Wheat planting seed,Wheat planting seed,Semilla de siembra de trigo,Semences de blé,Semente de plantação de trigo,NaN,"['semillas de trigo', 'semences de ble', 'trit...","['1001.11', '1001.91']",Triticum aestivum,[]

In [11]:
df[['cpcv2', 'common_name', 'aliases']][0:20]

,cpcv2,common_name,aliases
0,R0,NaN,[]
1,R01,"Agriculture products, horticulture, market gar...",[]
2,R011,NaN,[]
3,R0111,NaN,[]
4,R01111,Wheat planting seed,"['semillas de trigo', 'semences de ble', 'trit..."
5,R01111AA,Wheat planting seed,['triticum aestivum']
6,R01112,NaN,['triticum aestivum']
7,R01112AA,Wheat Grain,"['imported wheat (grains)', 'froment', 'grurë'..."
8,R01112AB,"Wheat Grain (No. 2, Soft Red Winter)","['01112b', 'soft red winter wheat', 'wheat (us..."
9,R01112AC,Wheat Grain (ASW),"['wheat grain (asw)', '01112c', 'triticum aest..."
10,R01112AD,Wheat Grain (CWRS),"['wheat, other, canadian western red spring', ..."
11,R01112AE,Wheat grain (Grade 1),"['wheat grain (grade 1)', 'wheat, grain, grade..."
12,R01112AF,"Wheat grain (No. 2, Hard Red Winter)","['01112f', 'wheat (us no. 2, hard red winter)'..."
13,R01112AG,Wheat Grain (Trigo Pan),"['bread wheat', '01112g', 'wheat, other, trigo..."
14,R01112AH,Wheat Grain (Food Aid),"['wheat (food aid)', 'common wheat', 'wheat, o..."
15,R01112AI,Wheat (Durum),"['blé dur', 'trigo moruno', 'rivet wheat', 'tr..."
16,R01112AJ,Wheat (Einkorn),"['escaña menor', 'escaña menor silvestre', 'sm..."
17,R01112AK,Wheat (Emmer),"['dinkel wheat', 'awned wheat', 'hulled wheat'..."
18,R01112AL,Meslin,"['maslin', 'wheat-rye mix']"
19,R01112AM,Wheat/Spelt mix,[]

In [12]:
df.sample(10)

,cpcv2,description,common_name,display_name,es_name,fr_name,pt_name,ar_name,aliases,hs2012,scientific_name,per_country_aliases
4416,S64117AB,"Bus transport cost, Mabvuku to Fourth Street",Bus transport cost (Mabvuku to Fourth Street),Bus transport cost (Mabvuku to Fourth Street),NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]
3687,P491,"Motor vehicles, trailers and semi-trailers; pa...",NaN,"Motor vehicles, trailers and semi-trailers; pa...",NaN,NaN,NaN,NaN,[],NaN,NaN,[]
601,R01510AE,Solanum tuberosum,Potatoes (Black),Potatoes (Black),NaN,NaN,NaN,NaN,['papa negra'],NaN,Solanum tuberosum,[]
4815,S83118,Head office services,NaN,Head office services,NaN,NaN,NaN,NaN,[],NaN,NaN,[]
179,R01219BD,Leafy/Stem Vegetable,Corn salad,Corn salad,NaN,NaN,NaN,NaN,NaN,NaN,Valerianella locusta,[]
2938,P39364,Waste and scrap of lead,NaN,Waste and scrap of lead,NaN,NaN,NaN,NaN,[],['7802.00'],NaN,[]
280,R01259AG,cube or barbasco,cube or barbasco,cube or barbasco,NaN,NaN,NaN,NaN,NaN,NaN,Lonchocarpus urucu,[]
1348,P1513,"Granite, sandstone and other monumental or bui...",NaN,"Granite, sandstone and other monumental or bui...",NaN,NaN,NaN,NaN,[],NaN,NaN,[]
1551,P21419,"Other dried fruit, n.e.c.",NaN,"Other dried fruit, n.e.c.",NaN,NaN,NaN,NaN,[],"['0803.10', '0803.90', '0804.10', '0804.20', '...",NaN,[]
3627,P48232,"Drafting tables and machines, and other drawin...",NaN,"Drafting tables and machines, and other drawin...",NaN,NaN,NaN,NaN,[],"['9017.10', '9017.20']",NaN,[]

In [13]:
dfT = df.T
dfT.head()

,0,1,2,3,4,5,6,7,8,9,...,5676,5677,5678,5679,5680,5681,5682,5683,5684,5685
cpcv2,R0,R01,R011,R0111,R01111,R01111AA,R01112,R01112AA,R01112AB,R01112AC,...,S9799,S97990,S98,S980,S9800,S98000,S99,S990,S9900,S99000
description,"Agriculture, forestry and fishery products","Products of agriculture, horticulture and mark...",Cereals,Wheat,Wheat planting seed,Wheat planting seed,Wheat grain,"Wheat grain, other",Wheat grain,Wheat grain,...,Other miscellaneous services n.e.c.,Other miscellaneous services n.e.c.,Domestic services,Domestic services,Domestic services,Domestic services,Services provided by extraterritorial organiza...,Services provided by extraterritorial organiza...,Services provided by extraterritorial organiza...,Services provided by extraterritorial organiza...
common_name,NaN,"Agriculture products, horticulture, market gar...",NaN,NaN,Wheat planting seed,Wheat planting seed,NaN,Wheat Grain,"Wheat Grain (No. 2, Soft Red Winter)",Wheat Grain (ASW),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
display_name,"Agriculture, forestry and fishery products","Agriculture products, horticulture, market gar...",Cereals,Wheat,Wheat planting seed,Wheat planting seed,Wheat grain,Wheat Grain,"Wheat Grain (No. 2, Soft Red Winter)",Wheat Grain (ASW),...,Other miscellaneous services n.e.c.,Other miscellaneous services n.e.c.,Domestic services,Domestic services,Domestic services,Domestic services,Services provided by extraterritorial organiza...,Services provided by extraterritorial organiza...,Services provided by extraterritorial organiza...,Services provided by extraterritorial organiza...
es_name,NaN,"Productos agrícolas, horticultura",NaN,NaN,Semilla de siembra de trigo,NaN,Grano de trigo,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df = dfT.T
df['description']

0              Agriculture, forestry and fishery products
1       Products of agriculture, horticulture and mark...
2                                                 Cereals
3                                                   Wheat
4                                     Wheat planting seed
                              ...
5681                                    Domestic services
5682    Services provided by extraterritorial organiza...
5683    Services provided by extraterritorial organiza...
5684    Services provided by extraterritorial organiza...
5685    Services provided by extraterritorial organiza...
Name: description, Length: 5686, dtype: object