In [27]:
import numpy as np 
import pandas as pd 
import os
import requests
import csv
import matplotlib.pyplot as plt

In [28]:
# API URL
api_url = "https://fdw.fews.net/api/classifiedproduct/"

# Make a GET request to the API
response = requests.get(api_url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Parse the JSON data from the response
    data = response.json()

    # Specify the folder path
    folder_path = "data"

    # Create the "data" folder if it doesn't exist
    if not os.path.exists(folder_path):
        os.makedirs(folder_path)

    # Specify the CSV file path inside the "data" folder
    csv_file_path = os.path.join(folder_path, "api_data.csv")

    # Open the CSV file in write mode
    with open(csv_file_path, 'w', newline='') as csvfile:
        # Create a CSV writer object
        csv_writer = csv.writer(csvfile)

        # Write the header row based on the keys of the first item in the data
        csv_writer.writerow(data[0].keys())

        # Write each row of data to the CSV file
        for row in data:
            csv_writer.writerow(row.values())

    print(f"Data has been successfully saved to {csv_file_path}")
else:
    print(f"Failed to fetch data. Status code: {response.status_code}")

Data has been successfully saved to data/api_data.csv

In [29]:
df = pd.read_csv('./data/api_data.csv')
df.head()

,cpcv2,description,common_name,display_name,es_name,fr_name,pt_name,ar_name,aliases,hs2012,scientific_name,per_country_aliases
0,R0,"Agriculture, forestry and fishery products",NaN,"Agriculture, forestry and fishery products",NaN,NaN,NaN,NaN,[],NaN,NaN,[]
1,R01,"Products of agriculture, horticulture and mark...","Agriculture products, horticulture, market gar...","Agriculture products, horticulture, market gar...","Productos agrícolas, horticultura","Produits agricoles, horticulture, maraîchage","Produtos agrícolas, horticultura, horta comercial",NaN,[],NaN,NaN,[]
2,R011,Cereals,NaN,Cereals,NaN,NaN,NaN,NaN,[],NaN,NaN,[]
3,R0111,Wheat,NaN,Wheat,NaN,NaN,NaN,NaN,[],NaN,NaN,[]
4,R01111,Wheat planting seed,Wheat planting seed,Wheat planting seed,Semilla de siembra de trigo,Semences de blé,Semente de plantação de trigo,NaN,"['semillas de trigo', 'semences de ble', 'trit...","['1001.11', '1001.91']",Triticum aestivum,[]

In [30]:
df[['cpcv2', 'common_name', 'aliases']][0:20]

,cpcv2,common_name,aliases
0,R0,NaN,[]
1,R01,"Agriculture products, horticulture, market gar...",[]
2,R011,NaN,[]
3,R0111,NaN,[]
4,R01111,Wheat planting seed,"['semillas de trigo', 'semences de ble', 'trit..."
5,R01111AA,Wheat planting seed,['triticum aestivum']
6,R01112,NaN,['triticum aestivum']
7,R01112AA,Wheat Grain,"['imported wheat (grains)', 'froment', 'grurë'..."
8,R01112AB,"Wheat Grain (No. 2, Soft Red Winter)","['01112b', 'soft red winter wheat', 'wheat (us..."
9,R01112AC,Wheat Grain (ASW),"['wheat grain (asw)', '01112c', 'triticum aest..."
10,R01112AD,Wheat Grain (CWRS),"['wheat, other, canadian western red spring', ..."
11,R01112AE,Wheat grain (Grade 1),"['wheat grain (grade 1)', 'wheat, grain, grade..."
12,R01112AF,"Wheat grain (No. 2, Hard Red Winter)","['01112f', 'wheat (us no. 2, hard red winter)'..."
13,R01112AG,Wheat Grain (Trigo Pan),"['bread wheat', '01112g', 'wheat, other, trigo..."
14,R01112AH,Wheat Grain (Food Aid),"['wheat (food aid)', 'common wheat', 'wheat, o..."
15,R01112AI,Wheat (Durum),"['blé dur', 'trigo moruno', 'rivet wheat', 'tr..."
16,R01112AJ,Wheat (Einkorn),"['escaña menor', 'escaña menor silvestre', 'sm..."
17,R01112AK,Wheat (Emmer),"['dinkel wheat', 'awned wheat', 'hulled wheat'..."
18,R01112AL,Meslin,"['maslin', 'wheat-rye mix']"
19,R01112AM,Wheat/Spelt mix,[]

In [31]:
df.sample(10)

,cpcv2,description,common_name,display_name,es_name,fr_name,pt_name,ar_name,aliases,hs2012,scientific_name,per_country_aliases
4411,S64115,Taxi services,NaN,Taxi services,NaN,NaN,NaN,NaN,[],NaN,NaN,[]
4348,S62565,Retail trade services on a fee or contract bas...,NaN,Retail trade services on a fee or contract bas...,NaN,NaN,NaN,NaN,[],NaN,NaN,[]
2583,P3544,"Modelling pastes; ""dental wax"" or ""dental impr...",NaN,"Modelling pastes; ""dental wax"" or ""dental impr...",NaN,NaN,NaN,NaN,[],NaN,NaN,[]
5387,S9119,Other administrative services of the government,NaN,Other administrative services of the government,NaN,NaN,NaN,NaN,[],NaN,NaN,[]
3669,P48342,"Chemical preparations for photographic uses, e...",NaN,"Chemical preparations for photographic uses, e...",NaN,NaN,NaN,NaN,[],"['3707.10', '3707.90']",NaN,[]
5620,S96412,Preservation services of historical sites and ...,NaN,Preservation services of historical sites and ...,NaN,NaN,NaN,NaN,[],NaN,NaN,[]
2228,P3191,Other products of wood,NaN,Other products of wood,NaN,NaN,NaN,NaN,[],NaN,NaN,[]
4135,S62233,"Specialized store retail trade services, of ar...",NaN,"Specialized store retail trade services, of ar...",NaN,NaN,NaN,NaN,[],NaN,NaN,[]
313,R01313AE,Cooking banana,AAB-type plantain,AAB-type plantain,NaN,NaN,NaN,NaN,NaN,NaN,Musa balbisiana,[]
2973,P41121,Non-alloy steel in ingots or other primary for...,NaN,Non-alloy steel in ingots or other primary for...,NaN,NaN,NaN,NaN,[],"['7206.10', '7206.90', '7207.11', '7207.12', '...",NaN,[]